<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alex+Brush&family=Anton+SC&family=Cinzel:wght@400..900&family=Homemade+Apple&family=Itim&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Lilita+One&family=Mr+Dafoe&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Qwitcher+Grypen:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&family=Rubik+Wet+Paint&family=Sacramento&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loggedin</title>
    
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            background-color: #f4f0ff; /* Light purple background */
            margin: 0;
            padding: 0;
        }

        h1 {
            color: #5d3fd3; /* Deep purple */
            font-size: 3rem;
            text-align: center;
            padding-top: 150px;
        }

        .form-group {
            text-align: center;
            margin-top: 50px;
        }

        #btn {
            background-color: #7a57d1; /* Purple */
            color: white;
            font-size: 1.2rem;
            padding: 15px 30px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
            transition: all 0.3s ease;
        }

        #btn:hover {
            background-color: #5d3fd3; /* Darker purple on hover */
            transform: scale(1.05);
            box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
        }

        #btn:active {
            background-color: #462d9b; /* Even darker purple when clicked */
            transform: scale(0.98);
        }
    </style>
</head>
<body>
    <h1>Welcome to Socially.ai - Your Personal AI Assistant for Your Social Journey</h1>
    <div class="form-group">
        <a href="https://lvlsuperhack-wblpujjphafyzhvqkdjscu.streamlit.app/"><button id="btn" >GET STARTED</button></a>
    </div>
</body>
</html>
